<!DOCTYPE html>
<html lang="fr">
<%- include('../templates/head'); -%>
<body class="d-flex flex-column min-vh-100">
<%- include('../templates/header'); -%>
<div class="container col-lg-8 px-4 py-2">
    <h1 class="display-5 fw-bold">Articles : </h1>
    <table id="example" class="table table-striped cell-border" style="width:100%">
        <thead>
        <tr>
            <th>Url</th>
            <th>Titre</th>
            <th>Date création</th>
            <th>Date modification</th>
            <th>Étiquette</th>
            <th>Source</th>
        </tr>
        </thead>
        <tbody>
        <% for (article of articles) { %>
            <tr>
                <td><%= article.url %></td>
                <td><%= article.titre %></td>
                <td><%= article.date_creation.format('DD/MM/YYYY') %></td>
                <td><%= article.date_modification.format('DD/MM/YYYY') %></td>
                <td><%= article.etiquette %></td>
                <td><%= article.source %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('../templates/footer'); -%>
<script src="../../script/datatable.js"></script>
</body>
</html>