<!DOCTYPE html>
<html lang="fr">
<%- include('../templates/head'); -%>
<body class="d-flex flex-column min-vh-100">
<%- include('../templates/header'); -%>
<div class="container col-lg-8 px-4 py-2">
    <h1 class="display-5 fw-bold">Parle de :</h1>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Url</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        <% for (parlede of parledes) { %>
            <tr>
                <td><%= parlede.url %></td>
                <td><%= parlede.nom %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<%- include('../templates/footer'); -%>
<script src="../../script/datatable.js"></script>
</body>
</html>