<!DOCTYPE html>
<html lang="fr">
<%- include('../templates/head'); -%>
<body class="d-flex flex-column min-vh-100">
<%- include('../templates/header'); -%>
<div class="px-4 py-5 my-5">
    <h1 class="display-5 fw-bold text-center">Informations.</h1>
    <div class="container mt-5 text-center">
        <p class="fs-4">Nombre d'articles : <%= data_article.nombre %></p>
        <p class="fs-4">Nombre d'auteurs : <%= data_auteurs.nombre %></p>
        <p class="fs-4">Nombre de sources : <%= data_source.nombre %></p>
        <p class="fs-4">Nombre de références : <%= data_reference.nombre %></p>
        <p class="fs-4">Nombre de personnalités : <%= data_personnalite.nombre %></p>
    </div>
</div>
<%- include('../templates/footer'); -%>
</body>
</html>